@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

.nav-link{
    color: white !important;
}
.navbar-toggler-icon {
  fill: white!important;
}
.hero-row{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.hero-container {
  background-image: url("./Media/bg1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.herocard-body{
    height: 25rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosifier-text {
  font-family: "Nosifer", cursive;
  font-size: 60px;
}

@media only screen and (max-width:600px){
    .nosifier-text{
        font-size: 40px;
        padding-top: 10rem;
    }
    .hero-row{
      // padding-top: 20rem;
      padding-bottom: 20rem;
    }
    .lastText-hero{
      text-align: center;
      justify-content: center;
      font-size: small;
    }

}

.doc-card:hover{
  background-color:transparentize($color: #f398ee, $amount: 0.8) !important; ;
  }
.faq-cont {
  background-color: black;
  color: white;
}
.nosifier {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.icons-twitter {
  color: #1da1f2;
  font-size: 50px;
}
.icons-hero {
  color: #745f98;
  font-size: 50px;
}


.col1-read{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-card {
  background-color: transparentize($color: #e18018, $amount: 0.3) !important;
  border-radius: 20px 20px 20px 20px !important;
  word-wrap: break-word !important;
  text-overflow: clip !important;
}
.card{
  word-wrap: break-word;
}

.buy {
  background-color: #745f98 !important;
  font-weight: bold !important;
  color: white !important;
  padding: 10px 30px !important;
}
.tokenomic-container {
  background-color: black;
  color: white;
}
.token-h3 {
  font-size: 50px;
}
.token-p {
  font-size: 20px;
}
.icons {
  font-size: 35px;
}
.token-col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doc-maincontainer {
  background-image: url("./Media/bg-banner.png");
  background-color: #745f98;
  color: white;
}
.doc-card-icon {
  font-size: 80px !important;
}
.palnefluid-container {
  background-color: black;
  color: white;
}
.plane-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.readfluid-cont {
  background-color: #745f98;
  color: white;
  padding: 3rem 0rem;
}
.container-read {
  background-color: black;
  color: white;

}
.card-read {
  background-color: black !important;
  color: white !important;
  border-radius: 20px 20px 20px 20px !important;
}
.read-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check-icon {
  color: orange;
  font-size: 30px;
}
.faq-cont {
  background-color: black;
  color: white;
}
// .hollow-img{
//   height: 80%;
// }

.quest-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  height: 100px;
  color: white;
}
